.header{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 517.859px;
    height: 66px;
    border-radius: 10px;
}




.calculator{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap :12px;
    height: 100vh;
}

.numbers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
    
}

button{
    width: 122px;
    height: 88px;
    border-radius: 15px;
}

*{
    font-size: larger;
}

.operator{
    border-color: red;
}